.company(@backcolor, @fontcolor) {
  @preCls: ~"company";

  .company-search {
    position: fixed;
    color: #949393;
    z-index: 999;
    background: #fff;
    width: 530px;
    display: grid;
    grid-template-columns: auto 100px;
    align-items: start;
    justify-items: center;
    right: 40%;
    transition: all 1s;

    input {
      width: 300px;
    }

    .company-search-title {
      height: 40px;
      font-size: 20px;
    }
  }

  .init-status {
    margin-top: 30px;
  }

  .company-container {

    margin-top: 80px;
    height: calc(100vh - 60px - 20px - 80px);


    .company-main {
      display: grid;
      grid-template-columns: 10% auto 10%;

      .more-company-info {
        height: 60px;
        color: red;
        line-height: 40px;
      }
    }

    .company-item {
      color: #000;
      height: 50px;
      display: grid;
      grid-template-columns: 5% 350px 350px auto;

      .company-reports-list{
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .company {
          text-align: center;
          width: 80px;
          font-size: 14px;
          float: left;
          
          .year{
            font-weight: 700;
          }

          .item{
            line-height: 15px;
            span{
              background-color: #abd1f9;
            }

            &:hover{
              color: white;
            }
          }
        }
      }
      
    }
    .company-items-title {
      height: 45px;
      line-height: 45px;
      font-size: 20px;
      font-weight: 400;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    .company-items-item {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #eee;

      &:hover {
        color: @fontcolor;
        background-color: #eee;
        cursor: pointer;
      }
    }
    .company-items-item:nth-child(odd) {
      background-color: #f1f1f1;
    }
  }

  .@{preCls} {
    &-header-filter-left {
      width: 350px;
    }
  }
}
